Repository getto-systems/hangar: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, release

build:
  stage: build
  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_CONTENT_TRUST: 1
  services:
  - docker:dind
  cache:
    paths:
    - .cache
  script:
  - ./getto-hangar-build.sh

release:
  stage: release
  image: buildpack-deps:disco-scm
  script:
  - curl https://raw.githubusercontent.com/getto-systems/version-dump/master/bin/push_tags.sh | bash

fix: vulnerabilities
  Dockerfile
Due: build

version bumped: 2.17.0
  .release-version
  CHANGELOG.md
Due: release

update: tool version
  Dockerfile
Due: build

fix: conflict
  Dockerfile
Due: build

version bumped: 2.18.0
  .release-version
  CHANGELOG.md
Due: release

add: build without test script
  getto-hangar-build-without-test.sh
Due: none

version bumped: 2.19.0
  .release-version
  CHANGELOG.md
Due: release

fix: trivy options
  getto-hangar-test.sh
Due: none

version bumped: 2.20.0
  .release-version
  CHANGELOG.md
Due: release

add: skip dockle option
  getto-hangar-test.sh
Due: none

version bumped: 2.21.0
  .release-version
  CHANGELOG.md
Due: release

remove: skip dockle option
  getto-hangar-test.sh
Due: none

version bumped: 2.22.0
  .release-version
  CHANGELOG.md
Due: release

version bumped: 2.23.0
  .release-version
  CHANGELOG.md
Due: release

version bumped: 2.24.0
  .release-version
  CHANGELOG.md
Due: release

version bumped: 2.25.0
  .release-version
  CHANGELOG.md
Due: release

fix: gitlab-ci
  .gitlab-ci.yml
  getto-hangar-build-to-file.sh
  getto-hangar-test-from-file.sh
Due: none

fix: gitlab-ci
  .gitlab-ci.yml
Due: none

fix: Dockefile
  Dockerfile
Due: build

version bumped: 2.26.0
  .release-version
  CHANGELOG.md
Due: release

fix: test from file
  getto-hangar-build-to-file.sh
  getto-hangar-test-from-file.sh
Due: none

version bumped: 2.27.0
  .release-version
  CHANGELOG.md
Due: release

Path conditions:
  build: any of: Dockerfile
  release: any of: .release-version
