Repository getto-systems/hangar: changes, and which GitLab CI jobs are due for each by the changed paths.
All: image_build, image_test, release, release_success, release_failure

Path conditions:
  image_build: any of: Dockerfile
  image_test: any of: Dockerfile
  release: any of: .release-version
  release_success: any of: .release-version
  release_failure: any of: .release-version

fix: test from file
  getto-hangar-test-from-file.sh
Due: none

version bumped: 2.28.0
  .release-version
  CHANGELOG.md
Due: release, release_success, release_failure

version bumped: 2.29.0
  .release-version
  CHANGELOG.md
Due: release, release_success, release_failure

version bumped: 2.30.0
  .release-version
  CHANGELOG.md
Due: release, release_success, release_failure

update: tool version
  Dockerfile
Due: image_build, image_test

fix: vulnerabilities
  Dockerfile
Due: image_build, image_test

version bumped: 2.31.0
  .release-version
  CHANGELOG.md
Due: release, release_success, release_failure

fix: build and test
  getto-hangar-build-to-file.sh
  getto-hangar-test-from-file.sh
Due: none

version bumped: 2.32.0
  .release-version
  CHANGELOG.md
Due: release, release_success, release_failure

fix: gitlab-ci
  .gitlab-ci.yml
Due: none

deploy: trellis
  .fix-vulnerabilities-message.sh
  .gitlab-ci.yml
  .message/bump.sh
  .message/update-tool.sh
  dist/install_dockle.sh
  dist/install_trivy.sh
  dist/push.sh
  scripts/deploy.sh
  scripts/update_dockle.sh
  scripts/update_trivy.sh
  scripts/update_version.sh
Due: none

fix: trivy version
  dist/install_trivy.sh
Due: none

fix: update scripts
  dist/install_dockle.sh
  scripts/update_dockle.sh
  scripts/update_trivy.sh
Due: none

update: tool version
  dist/install_dockle.sh
  dist/install_trivy.sh
Due: none

version bumped: 2.32.1
  .release-version
  CHANGELOG.md
Due: release, release_success, release_failure

fix: bump ignore
  .bump-ignore
Due: none

add: fix-vulnerabilities
  dist/fix-vulnerabilities.sh
Due: none

version bumped: 2.33.0
  .release-version
  CHANGELOG.md
Due: release, release_success, release_failure

fix: push
  dist/push.sh
Due: none

version bumped: 2.34.0
  .release-version
  CHANGELOG.md
Due: release, release_success, release_failure

fix: package manager
  dist/fix-vulnerabilities.sh
Due: none

version bumped: 2.35.0
  .release-version
  CHANGELOG.md
Due: release, release_success, release_failure

fix: shebang
  dist/install_dockle.sh
  dist/install_trivy.sh
  dist/push.sh
Due: none

version bumped: 2.36.0
  .release-version
  CHANGELOG.md
Due: release, release_success, release_failure

fix: separate docker login
  dist/docker_login.sh
  dist/push.sh
Due: none

version bumped: 2.37.0
  .release-version
  CHANGELOG.md
Due: release, release_success, release_failure

remove: push.sh
  dist/push.sh
Due: none

version bumped: 2.38.0
  .release-version
  CHANGELOG.md
Due: release, release_success, release_failure

fix: docker_login
  dist/docker_login.sh
Due: none

version bumped: 2.39.0
  .release-version
  CHANGELOG.md
Due: release, release_success, release_failure

release: version 3.0 !
  README.md
Due: none

version bumped: 3.0.0
  .release-version
  CHANGELOG.md
Due: release, release_success, release_failure
