Repository getto-systems/hangar: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test, push_tags

.gitlab-ci.yml:

image: getto/hangar:latest

stages:
  - test
  - check
  - update
  - release
  - push_latest
  - notify
  - request
  - push_tags

test:
  stage: test
  only:
    refs:
      - merge_requests
    changes:
      - Dockerfile

  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_CONTENT_TRUST: 1
  services:
    - docker:dind

  cache:
    paths:
      - .cache

  script:
    - ./getto-hangar-build.sh

check:
  stage: check
  only:
    refs:
      - schedules
    variables:
      - $CHECK

  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_CONTENT_TRUST: 1
  services:
    - docker:dind

  cache:
    paths:
      - .cache

  script:
    - ./getto-hangar-test.sh

check_failure:
  stage: request
  only:
    refs:
      - schedules
    variables:
      - $CHECK
  when: on_failure

  image: buildpack-deps:disco-scm

  script:
    - ./getto-hangar-fix-vulnerabilities-request.sh

update:
  stage: update
  only:
    refs:
      - schedules
    variables:
      - $UPDATE

  before_script:
    - git clone https://github.com/getto-systems/version-dump
  script:
    - ./bin/update_version.sh

push_latest:
  stage: push_latest
  only:
    refs:
      - triggers
    variables:
      - $PUSH_LATEST

  variables:
    DOCKER_HOST: tcp://docker:2375/
    DOCKER_DRIVER: overlay2
    DOCKER_CONTENT_TRUST: 1
  services:
    - docker:dind

  before_script:
    - git clone https://github.com/getto-systems/psycher-getto
  script:
    - getto-hangar-push_latest.sh getto/hangar
    - ./psycher-getto/bin/notify-push_latest.sh -r getto/hangar -l $GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true success

release:
  stage: release
  only:
    refs:
      - triggers
    variables:
      - $RELEASE

  before_script:
    - git clone https://github.com/getto-systems/version-dump
  script:
    - ./version-dump/bin/version_dump.sh
    - ./version-dump/bin/version_dump_request_message.sh | ./version-dump/bin/request.sh

release_success:
  stage: notify
  only:
    refs:
      - triggers
    variables:
      - $RELEASE
  when: on_success

  image: buildpack-deps:disco-curl

  before_script:
    - git clone https://github.com/getto-systems/psycher-getto
  script:
    - ./psycher-getto/bin/notify-deploy.sh -l $GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true success

release_failure:
  stage: notify
  only:
    refs:
      - triggers
    variables:
      - $RELEASE
  when: on_failure

  image: buildpack-deps:disco-curl

  before_script:
    - git clone https://github.com/getto-systems/psycher-getto
  script:
    - ./psycher-getto/bin/notify-deploy.sh -l $GETTO_PSYCHER_URL?$GETTO_PSYCHER_TOKEN=true failure

push_tags:
  stage: push_tags
  only:
    refs:
      - master@getto-systems-base/projects/hangar
    changes:
      - .release-version
  except:
    refs:
      - schedules
      - triggers

  image: buildpack-deps:disco-scm

  before_script:
    - git clone https://github.com/getto-systems/version-dump
  script:
    - ./version-dump/bin/push_tags.sh

version dump: 2.8.0
  .release-version
  CHANGELOG.md
Due: push_tags

fix: gitlab-ci
  .gitlab-ci.yml
Due: none

version dump: 2.8.1
  .release-version
  CHANGELOG.md
Due: push_tags

fix: gitlab-ci
  .fix-vulnerabilities-message.sh
  .gitlab-ci.yml
  .release-version-message.sh
  .update-version-message.sh
  bin/update_version.sh
  getto-hangar-fix-vulnerabilities-request.sh
  getto-hangar-fix-vulnerabilities.sh
Due: none

version dump: 2.9.0
  .release-version
  CHANGELOG.md
Due: push_tags

fix: push
  getto-hangar-push.sh
Due: none

version dump: 2.10.0
  .release-version
  CHANGELOG.md
Due: push_tags

version dump: 2.11.0
  .release-version
  CHANGELOG.md
Due: push_tags

fix: test
  getto-hangar-test.sh
Due: none

version dump: 2.12.0
  .release-version
  CHANGELOG.md
Due: push_tags

fix: set-window-title
  .envrc
Due: none

fix: push_latest
  .gitlab-ci.yml
  getto-hangar-push_latest.sh
Due: none

fix: getto-hangar-image
  .getto-hangar-image
  .getto-hangar-test-image.sh
  getto-hangar-push.sh
Due: none

version dump: 2.13.0
  .release-version
  CHANGELOG.md
Due: push_tags

fix: gitlab-cil
  .gitlab-ci.yml
Due: none

version dump: 2.13.1
  .release-version
  CHANGELOG.md
Due: push_tags

fix: gitlab-ci
  .fix-image-message.sh
  .gitlab-ci.yml
Due: none

version dump: 2.13.2
  .release-version
  CHANGELOG.md
Due: push_tags

version dump: 2.13.3
  .release-version
  CHANGELOG.md
Due: push_tags

version dump: 2.14.0
  .release-version
  CHANGELOG.md
Due: push_tags

fix: gitlab-ci
  .bump-ignore
  .bump-message.sh
  .gitlab-ci.yml
  .release-version-message.sh
  scripts/update_dockle.sh
  scripts/update_trivy.sh
  scripts/update_version.sh
Due: none

version bumped: 2.14.1
  .release-version
  CHANGELOG.md
Due: push_tags

fix: vulnerabilities
  Dockerfile
Due: test

fix: Dockerfile
  Dockerfile
Due: test

fix: gitlab-ci
  .getto-hangar-image
  .gitlab-ci.yml
Due: none

fix: gitlab-ci
  .fix-image-message.sh
Due: none

version bumped: 2.15.0
  .release-version
  CHANGELOG.md
Due: push_tags

fix: readme
  README.md
Due: none

version bumped: 2.15.1
  .release-version
  CHANGELOG.md
Due: push_tags

fix: scripts directory path
  scripts/update_version.sh
Due: none

version bumped: 2.15.2
  .release-version
  CHANGELOG.md
Due: push_tags

update: tool version
  Dockerfile
Due: test

version bumped: 2.16.0
  .release-version
  CHANGELOG.md
Due: push_tags
